<div class="product-alert">
  <div class="alert-card col-xs-12 col-sm-6 col-md-6">
    <div class="card-repurchase">
      <%= link_to product_path(product) do %>
        <div class="card-repurchase-img" style="background-image: url('<%= cl_image_path product.photo, crop: :fill %>');"></div>
      <% end %>
      <div class="card-repurchase-action">
        <%= link_to "Need", '', method: :post, class: "btn btn-primary" %>
      </div>
    </div>
    <div class="card-body">
      <div class="card-body-content">
      
        <% if not product.inventories.empty? %>
          <h4 class="card-body-title"><%= product.inventories.sample.seller.domain %></h4>
        <% end %>
        <div class="coupon-applied">
          <p class="coupon-status">Coupon Applied</p>
        </div>
        
        <div class="rating">
          <div class="star-rating" title="">
         
            <div class="back-stars">
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>

              <div class="front-stars" style="width:<%= (product.rating / 5.0)* 100 %>%">
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
              </div>
            </div>
          </div>
          
          <p class="num-reviews">(<%= product.review_count %>)</p>    
        </div>
        <div class="price">
          <% if not product.inventories.empty? %>
            <% old_price = product.inventories.sample.price %>
          <% else %>
            <% old_price = rand(20...25) %>
          <% end %>
          <p class="old-price">$<%= old_price %></p>
          <p class="sale-price">$<%= old_price * rand(0.7..0.9) %></p>
        </div>
        <div class="shipping-details">
          <p class="status">Free Delivery</p>
          <% current_date = DateTime.now %>
          <% delivery_date = current_date + rand(2.0...5.0) %>
          
          <p class="delivery-date"><%= delivery_date.strftime('%a %b %e') %></p>
        </div>     
      </div>      
    </div>
  </div>	
</div>






  