<div class="col-xs-12 col-sm-6 col-md-4">
	<div class="card-stretch">
		<%= link_to product_path(product) do %>
		 	<div class="card-stretch-img" style="background-image: url('<%= cl_image_path product.varients.first.photo, crop: :fill %>');">
			</div>
		<% end %>
	  	<div class="card-stretch-content">
	    	<div class="content-stretch-header">
	    		<h5><%= product.brand %></h5>
	      		<p><%= product.name %></p>
	    	</div>
		    <div class="content-stretch-footer">
            <% product.inventories.each do |inventory| %>
                <% @price_array << inventory.price %>
            <% end %>
            <% @price_array.sort %>
		    	<p><strong>from $ <%= @price_array.first %></strong></p>
			    <% if current_user %>
			      <%= link_to "Add to Cart", product_order_items_path(product), method: :post, class: "btn btn-primary btn-sm" %>
			    <% end %>
		    </div>
		</div>
	</div>
</div>

