<div class="navbar-wagon">
  <!-- Logo -->
  <%= link_to '<i class="fas fa-dove"></i>'.html_safe, products_path, class: "navbar-wagon-brand" %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <a href="/" class="navbar-wagon-item navbar-wagon-link">Dashboard</a>
    <%= link_to '<i class="fas fa-bell"></i>'.html_safe, pricedrop_path, :class => "nav-notifcations" %>
    <%= link_to '<i class="fas fa-shopping-cart"></i>'.html_safe, order_path(current_user.find_or_create_pending_order), :class => "nav-cart" %>

    <!-- Profile picture with dropdown list -->
    <div class="navbar-wagon-item">
      <div class="dropdown">
        <img src="https://images.unsplash.com/photo-1496256654245-8f3d0ef3bebe" class="avatar dropdown-toggle" id="navbar-wagon-menu" data-toggle="dropdown">
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li><a href="#">Profile</a></li>
          <li><%= link_to "Sign out", destroy_user_session_path, :method => 'delete' %></li>
        </ul>
      </div>
    </div>
  </div>

  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <%= link_to '<i class="fas fa-bell"></i>'.html_safe, pricedrop_path, :class => "nav-notifcations" %>
    <%= link_to '<i class="fas fa-shopping-cart"></i>'.html_safe, order_path(current_user.find_or_create_pending_order), :class => "nav-cart" %>
    <div class="dropdown">
      <i class="fas fa-bars dropdown-toggle" data-toggle="dropdown" role="button"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><a href="/">Dashboard</a></li>
      </ul>
    </div>
  </div>
</div>
