<div class="col-xs-12 col-sm-6 col-md-4">
  <div class="card-stretch">
    <%= link_to product_path(product) do %>
      <div class="card-stretch-img" style="background-image: url('<%= cl_image_path product.varients.first.photo, crop: :fill %>');">
      </div>
    <% end %>
      <div class="card-stretch-content">
        <div class="content-price-drop-header">
          <h5><%= product.brand %></h5>
          <div class="coupon-applied">
            <p class="coupon-status">Coupon Applied</p>
          </div>
           <div class="rating">
            <div class="star-rating" title="">
              <div class="back-stars">
                <% 5.times do %>              
                  <i class="fa fa-star" aria-hidden="true"></i>
                <% end %>              

                <div class="front-stars" style="width:<%= (product.rating / 5.0)* 100 %>%">
                  <% 5.times do %>  
                    <i class="fa fa-star" aria-hidden="true"></i>
                  <% end %>  
                </div>
              </div>
            </div>
            <div class="num-reviews">
              <p>(<%= product.review_count %>)</p> 
            </div>
          </div>
        </div>
        <div class="content-stretch-footer">
        </div>
    </div>
  </div>
</div>

