<div class="product-alert">
  <div class="alert-card col-xs-12 col-sm-6 col-md-6">
    <div class="card-repurchase">
      <%= link_to product_path(quick_buy_item.product) do %>
        <div class="card-repurchase-img" style="background-image: url('<%= cl_image_path quick_buy_item.inventory.varient.photo, crop: :fill %>');"></div>
      <% end %>
      <div class="card-repurchase-action">
        <%= form_tag order_items_path do %>
          <%= button_tag  "Add to Cart" , name: "inventory_id", value: "#{quick_buy_item.inventory.id}", class: "btn btn-primary" %>
         <% end %>
      </div>
    </div>
    <div class="card-body">
      <div class="card-body-content">
        <h4 class="card-body-title"><%= quick_buy_item.inventory.seller.domain %></h4>
        <div class="coupon-applied">
          <p class="coupon-status">Coupon Applied</p>
        </div>
        <% if quick_buy_item.product.rating.present? %>
          <div class="rating">
            <div class="star-rating" title="">
              <div class="back-stars">
                <% 5.times do %>              
                  <i class="fa fa-star" aria-hidden="true"></i>
                <% end %>              
                <div class="front-stars" style="width:<%= (quick_buy_item.product.rating / 5.0)* 100 %>%">
                  <% 5.times do %>  
                    <i class="fa fa-star" aria-hidden="true"></i>
                  <% end %>  
                </div>
              </div>
            </div>
            <p class="num-reviews">(<%= quick_buy_item.product.review_count %>)</p>    
          </div>
        <% else %>
          <div class="rating">
            <div class="star-rating" title="">
              <div class="back-stars">
                <% 5.times do %>              
                  <i class="fa fa-star" aria-hidden="true"></i>
                <% end %>              
              </div>
            </div>
            <p class="num-reviews">(0)</p>    
          </div>
        <% end %>
        <div class="price">
          <p class="old-price">$<%= quick_buy_item.inventory.price %></p>
          <p class="sale-price">$<%= quick_buy_item.inventory.price * (1- Coupon.find(quick_buy_item.inventory.coupon_id).discount) %></p>
        </div>
        <div class="shipping-details">
          <p class="status">Free Delivery</p>
          <% current_date = DateTime.now %>
          <% delivery_date = current_date + rand(2.0...5.0) %>
          <p class="delivery-date"><%= delivery_date.strftime('%a %b %e') %></p>
        </div>     
      </div>      
    </div>
  </div>	
</div>






  