<div class="wrapper">
  <div class="container">
    <h3>Your Cart</h3>
    <!-- <h3>Order number #<%= @order.id %></h3> -->
    <table class="table table-responsive">
      <thead>
        <tr>
          <th style="width: 10%", scope="column">Product</th>
          <th style="width: 30%", scope="column", class="td-center order-table-details"></th>
          <th style="width: 10%", scope="column", class="td-center ">Seller</th>
          <th style="width: 15%", scope="column", class="td-center">Price</th>
          <th style="width: 15%", scope="column", class="td-center">Total</th>
          <th style="width: 10%", scope="column", class="td-center order-table-qty">Qty</th>
          <th style="width: 10%", scope="column", class="td-center order-table-delete w-auto">Delete</th>
        </tr>
      </thead>
      <tbody class="table-align-middle">
        <% if @order.order_items.count > 0 %>
          <% @order.order_items.order('id').each do |order_item| %>
          <% item = Inventory.find(order_item.inventory_id) %>
            <tr>
              <td>
                <%= link_to product_path(id: item.varient.product, varient_id: item.varient) do %>
                  <%= cl_image_tag(item.varient.photo, :width=>100, :height=>100, :crop=>"thumb") %>
                <% end %>
              </td>
              <td class="order-table-details"><%= link_to "#{item.varient.product.brand} #{item.varient.product.name} - #{item.varient.name}", product_path(id: item.varient.product, varient_id: item.varient) %>
              </td>
              <td class="td-center align-middle"><%=Seller.find(item.seller_id).domain %>
              </td>
              <td class="td-center"><%= item.price %></td>
              <td class="order-item-total td-center""> <%= order_item.qty*item.price %></td>
              <td class="td-center order-table-qty">
                <%= form_for(order_item, url: order_item_path(order_item), method: :patch )  do |f| %>
                  <div class='form-group dropdown'>
                    <%= f.select :qty, (1..5), {}, onChange: "this.form.submit();"%>
                  </div>
                <% end %>
              </td>
              <td class="td-center order-table-delete"> <%= link_to "<i class='far fa-trash-alt'></i>".html_safe, order_item_path(order_item), method: :delete %></td>
            </tr>
          <% end %>
        <% else %>
          <td colspan="7" style="text-align: center"><h5>Cart is empty...(go on treat yo'self!)</h5></td>
        <% end %>
      </tbody>
    </table>
    <div class="checkout-area">
      <% if @order.order_items.count > 0 %>
        <% if @ship.cost != 0 %>
          <p>Shipping = $<span class="order-item-shipping"><%= money_without_cents @ship.cost %></span></p>
        <% else %>
          <p>Shipping = FREE!</p>
        <% end %>
        <h3>Total = $<span class="total-sum"></span></h3>
        <% if current_user.customer_id %>
          <%= form_tag order_payments_path(@order), method: :post do %>
            <%= hidden_field_tag 'amount', finalise_total %>
            <%= submit_tag 'Pay Now', class: 'btn btn-primary btn-checkout' %>
          <% end %>
        <% else %>
          <%= form_tag new_order_payment_path(@order), method: :get do %>
            <%= submit_tag 'Checkout', class: 'btn btn-primary btn-checkout' %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
