<div class="wrapper">
	<div class="container">
		<div class="dashboard-header-container">
			<div class="row">
				<div class="col-xs-12 col-sm-9">
					<% if @quick_buy_list.count == 0 %>
						<h1><strong>We got you 😉</strong></h1>
						<h4>Find all your beauty favs in one place and repurchase them in one-click with your Quick Buys!</h4>
					<% end %>
				</div>
			</div>
			<%= render 'shared/search' %>
		</div>
		<div class="products-container">
	      <h2><strong>Quick Buys</strong></h2>
	      <div class="gmail-connect">
	       	<div class="row">
	       		<div class="col-xs-12 col-md-6">
	       			<div class="card-dashboard">
			       		<div class="icon">
			       			<i class="far fa-envelope"></i>
			       		</div>
			       		<div class="content">
			       			<p>Connect your gmail to generate automatically</p>
			       		</div>
			       		<div class="action">
			       			<%= link_to "Connect", google_path, method: :get, class: 'btn btn-primary'%>
			       		</div>
			       		<div class="cross-out">
			       			<p><strong>x</strong></p>
			       		</div>
			       	</div>
	       		</div>
	       	</div>
	       </div>
	      <div class="cards-container row">
	          <% @quick_buy_list.each do |quick_buy_item| %>
	            <%= render "shared/card-image", quick_buy_item: quick_buy_item %>
	          <% end %>
	       </div>
	       <% if @quick_buy_list.count == 0 %>
	       <h4>Generate your Quick Buys now:</h4>
		       <div class="quick-buy-info">
					<div class="row">
						<div class="col-xs-12 col-sm-9">
							<div class="card-dashboard">
			       		<div class="icon">
			       			<i class="far fa-envelope"></i>
			       		</div>
			       		<div class="content">
			       			<p>Connect your gmail to generate automatically</p>
			       		</div>
			       		<div class="action">
			       			<%= link_to "Connect", google_path, method: :get, class: 'btn btn-primary'%>
			       		</div>
			       	</div>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12 col-sm-9">
							<div class="card-dashboard">
			       		<div class="icon">
			       			<i class='fas fa-heart'></i>
			       		</div>
			       		<div class="content">
			       			<p>Heart your favorite items to add manually</p>
			       		</div>
			       		<div class="action">
			       			<%= button_tag  "Search", class: "btn btn-primary" %>
			       		</div>
			       	</div>
			       </div>
			     </div>
		       </div>
				<% end %>
	    </div>
	</div>
</div>
