<div class="wrapper">
	<div class="container">
		<div class="product-container">
			<%= link_to "<< Products", products_path %>
			<div class="row">
				<div class="col-xs-12 col-sm-6">
					<div class="product-image">
						<%= image_tag "coming-soon.png", height: 400, crop: :fill %>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6">
					<div class="product-details">
						<h3><%= @product.name %> </h3>
						<% @product.inventories.each do |inventory| %>
                <% @price_array << inventory.price %>
            <% end %>
            <% @price_array.sort %>
            <h4>from $ <%= @price_array.first  %></h4>
					</div>
          <div class="product-selector">
            <%= form_tag "", { method: :get, class: "variant-form js-variant-form" } do %>
              <%= select_tag(:varient_id, options_for_select(@varient_options, @varient_id)) %>
              <% end %>
          </div>
          <div id="product-price-holder">
            <div class="product-prices" id="product-prices">
              <% @current_varient.inventories.each do |inventory| %>
                <div class="product-actions">
                  <% if current_user %>
                    <div class="action-add">
                    <%= form_tag order_items_path do %>
                    <%= button_tag  "Add to Cart" , name: "inventory_id", value: "#{inventory.id}", class: "btn btn-primary" %>
                    <% end %>
                    </div>
                   <% else %>
                   <!-- Modal link -->
      					    <%= link_to "Add to Cart", "#", class: "btn btn-primary", :id => 'add-product', data: {toggle: "modal", target: "#signInModal"} %>
      					    <% end %>
      					</div>
                <p> $ <%= inventory.price %> | <%= inventory.seller.domain %></p>
              <% end %>
						</div>
					</div>
				</div>
			</div>

		</div>
	    <!-- Modal -->
      <%= render 'shared/modal' %>
	</div>
</div>
