<div class="wrapper">
  <div class="container">
    <div class="product-container">
      <%= link_to "<< Products", products_path %>
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <div class="product-details">
            <div class="product-details-header">
              <div class="product-details-header-title">
                <h3><%= @product.name %> </h3>
              </div>
            </div>
            <div class="product-details-footer">
              <% @product.inventories.each do |inventory| %><% @price_array << inventory.price %>
              <% end %>
              <% @price_array.sort %>
              <h4>from $ <%= @price_array.first  %></h4>
            </div>
          </div>
          <div class="product-image-container">
            <%= cl_image_tag @current_varient.photo, crop: :fill, class: "product-image" %>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6">
          <div class="product-selector">
            <%= form_tag "", { method: :get, class: "variant-form js-variant-form" } do %>
              <%= select_tag(:varient_id, options_for_select(@varient_options, @varient_id)) %>
            <% end %>
          </div>
          <div>
            <label class="switch">
              <input type="checkbox" data-toggle="toggle">
              <span class="slider round"></span>
            </label>
          </div>
          <div id="product-price-holder">
            <div class="product-prices " id="product-prices">
              <% @current_varient.inventories.each do |inventory| %>
              <div class="card-inventory">
                <div class="card-inventory-seller">
                  <p><strong><%= inventory.seller.domain %></strong></p>
                </div>
              <% if current_user %>
                <div class="card-inventory-save">
                  <%= form_tag product_quick_buy_items_path(@product), method: :post do %>
                    <%= button_tag  "<i class='fas fa-heart'></i>".html_safe, name: "inventory_id", value: "#{inventory.id}", class: "btn btn-primary" %>
                  <% end %>
                </div>
              <% else %>
                <div class="card-inventory-save">
                <%= button_tag  "<i class='fas fa-heart'></i>".html_safe, name: "inventory_id", value: "#{inventory.id}", class: "btn btn-primary" %>
                </div>
              <% end %>
              <div class="card-inventory-shipping">
                <p>FREE delivery<br>Tues, Nov 12</p>
              </div>
              <div class="card-inventory-price">
                <p><strong>$ <%= inventory.price %></strong></p>
              </div>
              <div class="card-inventory-qty">
                <%= form_tag order_items_path do %>
                  <div class="form-group dropdown">
                    <%= select_tag :qty,  options_for_select((1..5), params[:qty]), id: "order_item_qty" %>
                  </div>
                <% end %>
              </div>
							<div class="card-inventory-add">
              <% if current_user %>
                <%= form_tag order_items_path do %>
                  <%= button_tag  "Add" , name: "inventory_id", value: "#{inventory.id}", class: "btn btn-primary" %>
                <% end %>
              </div>
              <% else %>
                <!-- Modal link -->
                <%= link_to "Add to Cart", "#", class: "btn btn-primary", :id => 'add-product', data: {toggle: "modal", target: "#signInModal"} %>
                <% end %>
              </div>
            </div>
          <% end %>
        <%= render 'shared/modal' %>
      </div>
    </div>
  </div>
</div>
