<div class="wrapper">
  <div class="container">
    <%= render 'shared/search' %>
    <div class="product-container">
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <div class="product-details">
            <div class="product-details-header">
              <div class="product-details-header-title">
                <h3><%= @product.brand %></h3>
                <h5><%= @product.name %></h5>
              </div>
              <%= render 'shared/rating' %>
            </div>
            <div class="product-details-footer">
              <% @product.inventories.each do |inventory| %><% @price_array << inventory.price %>
              <% end %>
              <% @price_array.sort %>
              <h4>from $ <%= @price_array.first  %></h4>
            </div>
          </div>
          <div class="product-image-container" id="product-image-varient">
            <%= cl_image_tag @current_varient.photo, height: 800, crop: :fill, class: "product-image js-variant-form" %>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6">
          <div class="product-selector">
            <% if @varient_options.count > 1 %>
              <%= form_tag "", { method: :get, class: "variant-form js-variant-form" } do %>
              <%= select_tag(:varient_id, options_for_select(@varient_options, @varient_id)) %>
              <% end %>
            <% end  %>
          </div>
          <div id="product-price-holder">
            <div class="product-prices " id="product-prices">
              <% @current_varient.inventories.each do |inventory| %>
                <%= render 'shared/inventory-card', inventory: inventory %>
              <% end %>
            </div>
            <%= render 'shared/modal' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
